<?xml version="1.0" encoding="utf-8"?>
<!--
  CLOUD READINESS MIGRATION:
  - targetFramework updated from net462 to net48 (cr-dotnet-0025)
  - AWS SDK packages added for Secrets Manager integration (cr-dotnet-0123)
  - AWSSDK.SecretsManager: Runtime retrieval of secrets from AWS Secrets Manager
  - AWSSDK.Extensions.NETCore.Setup: AWS SDK DI integration for ASP.NET Core
  - Amazon.Extensions.Configuration.SystemsManager: AWS SSM Parameter Store config provider
    (replaces Web.config transformations - cr-dotnet-0010)
-->
<packages>
  <package id="AjaxControlToolkit" version="16.1.1.0" targetFramework="net48" />
  <package id="AspNet.ScriptManager.jQuery" version="1.8.2" targetFramework="net48" />
  <package id="AspNet.ScriptManager.jQuery.UI.Combined" version="1.8.24" targetFramework="net48" />
  <package id="AWSSDK.Core" version="3.7.100.14" targetFramework="net48" />
  <package id="AWSSDK.SecretsManager" version="3.7.100.14" targetFramework="net48" />
  <package id="AWSSDK.Extensions.NETCore.Setup" version="3.7.100.14" targetFramework="net48" />
  <package id="Amazon.Extensions.Configuration.SystemsManager" version="6.0.0" targetFramework="net48" />
  <package id="DotNetOpenAuth.AspNet" version="4.1.4.12333" targetFramework="net48" />
  <package id="DotNetOpenAuth.Core" version="4.1.4.12333" targetFramework="net48" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.1.4.12333" targetFramework="net48" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.1.4.12333" targetFramework="net48" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.1.4.12333" targetFramework="net48" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.1.4.12333" targetFramework="net48" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net48" />
  <package id="jQuery" version="1.8.2" targetFramework="net48" />
  <package id="jQuery.UI.Combined" version="1.8.24" targetFramework="net48" />
  <package id="Microsoft.AspNet.FriendlyUrls" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Membership.OpenAuth" version="1.0.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.Providers.Core" version="1.2" targetFramework="net48" />
  <package id="Microsoft.AspNet.Providers.LocalDB" version="1.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.ScriptManager.MSAjax" version="4.5.6" targetFramework="net48" />
  <package id="Microsoft.AspNet.ScriptManager.WebForms" version="4.5.6" targetFramework="net48" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Web.Optimization.WebForms" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="Modernizr" version="2.6.2" targetFramework="net48" />
  <package id="WebGrease" version="1.1.0" targetFramework="net48" />
</packages>
